<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="login-page">
    <div class="container">
        <span class="title">Locketing</span>
        <form method="post">
            {% csrf_token %} <!-- CSRF protection token -->
            <div class="input-container">
                <input type="text" name="username" id="username" class="input-field" placeholder=" " required>
                <label class="input-label" for="username">ID:</label>
            </div>
            <div class="input-container">
                <input type="password" name="password" id="password" class="input-field" placeholder=" " required>
                <label class="input-label" for="password">PW:</label>
            </div>
            <button type="submit" class="submit-button">Login</button>
        </form>
        {% if error %}
            <p class="error-message">{{ error }}</p> <!-- Display errors if login fails -->
        {% endif %}
    </div>
</body>
</html>

